{{define "title"}}{{printf .Lang.TrackByUser .Track.Title .Track.Author.DisplayName}} - {{.Conf.SiteName}}{{end}}
{{define "content"}}
	<div class="track-player">
		<div class="image-fill blurred" style="background-image: url('{{.Track.ThumbnailUrl}}');"></div>
		<div class="clamp track-player-layer track-info-container">
			<img class="thumbnail player-thumbnail" src="{{.Track.ThumbnailUrl}}">
			<div class="track-info">
				<div class="text player-title">{{.Track.Title}}</div>
				<div class="text player-author">{{.Track.Author.DisplayName}}</div>
			</div>
		</div>
		<div class="track-player-layer">
			<audio autoplay controls class="clamp padded player-controls" src="{{.Track.AudioUrl}}"></audio>
		</div>
	</div>
	<div class="clamp content-layout aside-layout">
		<div>
			<section class="padded">
				<div class="track-author">
					<a href="{{.Track.Author.Url}}">
						<img class="avatar" loading="lazy" src="{{.Track.Author.AvatarUrl}}">
						<span>{{.Track.Author.DisplayName}}</span>
					</a>
				</div>
				<p>{{.Track.Description}}</p>
				<div class="text shaded track-publish-date">{{.Track.CreationTime.Format .Lang.DateAtTime | printf .Lang.PublishedOnDate}}</div>
			</section>
			<div class="separator padded"></div>
			<section class="padded">
				<h1>{{printf .Lang.CommentsNum .CommentCount}}</h1>
				{{if .LoggedIn}}
					<form class="comment-composer" method="post">
						<textarea name="body" placeholder="{{.Lang.WriteAComment}}"></textarea>
						<input type="submit" value="{{.Lang.PostComment}}">
					</form>
				{{end}}
				{{range .Comments}}
					<div class="comment">
						<a href="{{.Author.Url}}"><img class="avatar" loading="lazy" src="{{.Author.AvatarUrl}}"></a>
						<div>
							<div class="comment-header">
								<a href="{{.Author.Url}}">{{.Author.DisplayName}}</a>
								<div class="text shaded" title="{{.CreationTime.Format $.Lang.DateAtTime}}">{{.CreationTime.Format $.Lang.Date}}</div>
							</div>
							<p>{{.Body}}</p>
						</div>
					</div>
				{{end}}
			</section>
		</div>
		<div class="separator padded"></div>
		<aside class="padded">
			<h2>{{printf .Lang.MoreFromUser .Track.Author.DisplayName}}</h2>
			{{range .MoreFrom}}
				<div class="track-suggestion">
					<a href="{{.Url}}">
						<img class="thumbnail suggestion-thumbnail" loading="lazy" src="{{.ThumbnailUrl}}">
						<div class="suggestion-details">
							<div class="text">{{.Title}}</div>
							<div class="text shaded">{{.Author.DisplayName}}</div>
						</div>
					</a>
				</div>
			{{end}}
		</aside>
	</div>
{{end}}
