<!DOCTYPE html>
<html lang="{{.Lang.LCode}}" dir="{{.Lang.LDirection}}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{block "title" .}}{{end}}</title>
		<link rel="stylesheet" href="{{.Conf.SiteRoot}}/static/css/prelude.css">
		<link rel="stylesheet" href="{{.Conf.SiteRoot}}/static/css/layout.css">
		<link rel="stylesheet" href="{{.Conf.SiteRoot}}/static/css/colors.css">
		<link rel="stylesheet" href="{{.Conf.SiteRoot}}/static/css/styling.css">
		<link rel="stylesheet" href="{{.Conf.SiteRoot}}/static/css/{{.Lang.LDirection}}.css">
	</head>
	<body>
		<input type="checkbox" id="nav-dummy" class="dummy">
		<label for="nav-dummy" class="nav-toggle header-button" tabindex="0" title="{{.Lang.MainMenu}}"><span>a</span></label>
		<label for="nav-dummy" class="nav-background"></label>
		<header>
			<input type="text" class="search" placeholder="{{.Lang.Search}}">
		</header>
		{{if .LoggedIn}}
			<div class="header-end-buttons">
				<div class="desktop-only">
					<a class="header-button" href="{{.Conf.SiteRoot}}/upload" title="{{.Lang.Upload}}">a</a>
					<a class="header-button" href="{{.Conf.SiteRoot}}/notifications" title="{{.Lang.Notifications}}">a</a>
				</div>
				<a class="header-button" href="{{.Account.Url}}" title="{{.Lang.Account}}">
					<img class="avatar header-avatar" src="{{.Account.AvatarUrl}}">
				</a>
			</div>
		{{else}}
			<div class="header-end-buttons">
				<a class="header-button" href="{{.Conf.SiteRoot}}/u/tromino" title="{{.Lang.Account}}">a</a>
			</div>
		{{end}}
		<nav>
			<div class="logo-container"></div>
			<div class="separator"></div>
			<ul>
				<li><a class="nav-link" href="{{.Conf.SiteRoot}}">{{.Lang.PageHome}}</a></li>
				<li><a class="nav-link" href="{{.Conf.SiteRoot}}/new">{{.Lang.PageNew}}</a></li>
				<li><a class="nav-link" href="{{.Conf.SiteRoot}}/popular">{{.Lang.PagePopular}}</a></li>
				<li><a class="nav-link" href="{{.Conf.SiteRoot}}/local">{{.Lang.PageLocal}}</a></li>
			</ul>
		</nav>
		<main>
			{{block "content" .}}{{end}}
		</main>
	</body>
</html>
