:root {
	--accent-bg: #9e42c0;
	--accent-shade-fg: 255, 255, 255;
	--accent-shade-bg: 0, 0, 0;
	--nav-bg: #232323;
	--nav-shade-fg: 255, 255, 255;
	--nav-shade-bg: 0, 0, 0;
	--aside-bg: #eeeeee;
	--aside-shade-fg: 0, 0, 0;
	--aside-shade-bg: 255, 255, 255;
	--content-bg: #fcfcfc;
	--content-shade-fg: 0, 0, 0;
	--content-shade-bg: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--aside-bg: #232323;
		--aside-shade-fg: 255, 255, 255;
		--aside-shade-bg: 0, 0, 0;
		--content-bg: #1d1d1d;
		--content-shade-fg: 255, 255, 255;
		--content-shade-bg: 0, 0, 0;
	}
}
