header {
	width: 100%;
	height: 56px;
	position: fixed;
	top: 0;
	z-index: 1;
}

.header-button {
	width: 40px;
	height: 40px;
	margin: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

nav {
	width: min(80vw, 280px);
	height: 100%;
	position: fixed;
	z-index: 4;
}

.nav-toggle {
	position: fixed;
	opacity: 1;
	z-index: 5;
}

.nav-background {
	width: 100%;
	height: 100%;
	position: fixed;
	opacity: 0;
	pointer-events: none;
	z-index: 3;
}

.dummy {
	display: none;
}

.dummy#nav-dummy:checked ~ .nav-background {
	opacity: 1;
	pointer-events: unset;
}

main {
	width: 100%;
	min-height: 100%;
	padding-top: 56px;
	position: absolute;
}

.track-player {
	height: calc(100vh - 56px);
	overflow: hidden;
}

.image-fill {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}

.track-player-layer {
	height: 100%;
	margin-top: calc((100vh - 56px) * -1);
	position: relative;
}

.track-info-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.player-thumbnail {
	width: 70%;
}

.player-controls {
	width: 100%;
	height: 100%;
}

.track-info {
	text-align: center;
}

.logo-container {
	height: 56px;
}

.search {
	width: calc(100% - 112px);
	height: 40px;
	margin: 8px 56px;
}

.header-end-buttons {
	position: fixed;
	top: 0;
	z-index: 2;
}

.desktop-only {
	opacity: 0;
	pointer-events: none;
}

.header-end-buttons, .header-end-buttons div {
	display: flex;
	flex-direction: row;
}

.avatar {
	width: 48px;
	height: 48px;
}

.header-avatar {
	width: 32px;
	height: 32px;
}

.aside-layout {
	display: flex;
	flex-direction: column;
}

.track-author, .track-author a {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
}

.padded {
	padding: 16px;
}

.separator.padded {
	padding: 0;
	margin: 16px 16px 0;
}

.track-suggestion a {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
}

.suggestion-thumbnail {
	width: 64px;
	height: 64px;
}

.comment {
	display: flex;
	flex-direction: row;
	gap: 12px;
}

.comment-header {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	gap: 8px;
}

.comment-composer textarea {
	width: 100%;
	height: 64px;
}

.comment-composer textarea:focus,
.comment-composer textarea:not(:placeholder-shown) {
	height: 96px;
}

.comment-composer textarea ~ input[type="submit"] {
	display: none;
	pointer-events: none;
}

.comment-composer textarea:focus ~ input[type="submit"],
.comment-composer textarea:not(:placeholder-shown) ~ input[type="submit"] {
	display: block;
}

.comment-composer textarea:not(:placeholder-shown) ~ input[type="submit"] {
	pointer-events: unset;
}

@media screen and (min-width: 600px) {
	.track-player {
		height: 320px;
	}
	
	.track-player-layer {
		margin-top: -320px;
	}
	
	.track-info-container {
		flex-direction: row;
	}
	
	.player-thumbnail {
		width: unset;
		height: 50%;
	}
	
	.track-info {
		text-align: unset;
	}
	
	.search {
		width: 50%;
		margin: 8px 25%;
	}
	
	.aside-layout {
		flex-direction: row;
	}
	
	.aside-layout > div {
		width: calc(100% - max(280px, 30%));
	}
	
	.aside-layout > aside {
		width: max(280px, 30%);
	}
	
	.aside-layout > .separator {
		display: none;
	}
}

@media screen and (min-width: 1000px) {
	.nav-toggle {
		opacity: 0;
		pointer-events: none;
	}
	
	.dummy#nav-dummy:checked ~ .nav-background {
		opacity: 0;
		pointer-events: none;
	}
	
	main, header {
		width: calc(100% - min(80vw, 280px));
	}

	.desktop-only {
		opacity: 1;
		pointer-events: unset;
	}
}

@media screen and (min-width: 1400px) {
	.clamp {
		padding: 0 15%;
	}
	
	.clamp.padded {
		padding: 16px calc(15% + 16px);
	}
	
	.track-player {
		height: 460px;
	}
	
	.track-player-layer {
		margin-top: -460px;
	}
}
