main, header, .nav-toggle {
	left: 0;
}

nav {
	left: calc(min(80vw, 280px) * -1);
	box-shadow: -64px 0 16px 64px transparent;
}

.dummy#nav-dummy:checked ~ nav {
	left: 0;
	box-shadow: -64px 0 16px 64px rgba(0, 0, 0, 0.3);
}

.dummy#nav-dummy:checked ~ .nav-toggle {
	left: calc(min(80vw, 280px) - 56px);
}

.header-end-buttons {
	right: 0;
}

.header-end-buttons .header-button {
	margin-left: 0;
}

@media screen and (min-width: 1000px) {
	nav {
		left: 0;
	}
	
	.dummy#nav-dummy:checked ~ nav {
		box-shadow: -64px 0 16px 64px transparent;
	}
	
	.nav-toggle {
		left: min(80vw, 280px);
	}
	
	main, header {
		left: min(80vw, 280px);
	}
}
