* {
	all: unset;
	line-height: 0;
	display: block;
	box-sizing: border-box;
}

:not(html, body, body *) {
	display: none;
}

html, body {
	height: 100%;
}

span, h1, h2, h3, h4, h5, h6, p, a, button, input, textarea, .text {
	line-height: 1.5;
}

span, a {
	display: inline;
}

a {
	cursor: pointer;
}

a:hover, a:focus-visible {
	text-decoration: underline;
}

textarea {
	white-space: pre;
}
