* {
	outline: 1px solid transparent;
	outline-offset: 1px;
	accent-color: var(--accent-bg);
	transition: all 0.2s;
}

:focus-visible {
	outline: 1px solid var(--accent-bg);
}

::selection {
	background: var(--accent-bg);
	color: rgb(var(--accent-shade-fg));
}

html {
	background: var(--content-bg);
	color: rgba(var(--content-shade-fg), 0.8);
	font-family: "Roboto", "Noto Sans", sans-serif;
}

header {
	background: var(--content-bg);
	box-shadow: 0 -64px 8px 64px rgba(0, 0, 0, 0.2);
}

.header-button {
	background: transparent;
	color: rgba(var(--content-shade-fg), 0.7);
	border-radius: 8px;
	cursor: pointer;
}

.header-button:hover, .header-button:focus-visible {
	background: rgba(var(--content-shade-fg), 0.05);
	text-decoration: none;
}

.header-button:active {
	background: rgba(var(--content-shade-fg), 0.1);
}

.dummy#nav-dummy:checked ~ .nav-toggle {
	color: var(--accent-bg);
}

.dummy#nav-dummy:checked ~ .nav-toggle:hover,
.dummy#nav-dummy:checked ~ .nav-toggle:focus-visible {
	background: rgba(var(--nav-shade-fg), 0.05);
}

.dummy#nav-dummy:checked ~ .nav-toggle:active {
	background: rgba(var(--nav-shade-fg), 0.1);
}

.nav-background {
	background: rgba(0, 0, 0, 0.3);
}

nav {
	background: var(--nav-bg);
	color: rgba(var(--nav-shade-fg), 0.8);
}

a {
	color: var(--accent-bg);
}

.track-player {
	background: rgb(var(--content-shade-bg));
}

.track-info-container {
	background: rgba(var(--content-shade-bg), 0.35);
	color: rgb(var(--content-shade-fg));
}

.blurred {
	filter: blur(128px);
}

.player-thumbnail {
	box-shadow: 0 0 64px rgba(var(--content-shade-bg), 0.3);
}

.track-info {
	padding: 48px;
	text-shadow: 0 0 32px rgb(var(--content-shade-bg));
}

.track-info .player-title {
	font-size: 200%;
}

.track-info .player-author {
	font-size: 120%;
}

.nav-link {
	background: transparent;
	color: rgba(var(--nav-shade-fg), 0.7);
	margin: 6px 6px;
	padding: 6px 12px;
	border-radius: 8px;
	display: block;
}

.nav-link:hover, .nav-link:focus-visible {
	background: rgba(var(--nav-shade-fg), 0.05);
	text-decoration: none;
}

.nav-link:active {
	background: rgba(var(--nav-shade-fg), 0.1);
}

.nav-link.selected {
	color: var(--accent-bg);
}

.avatar {
	border-radius: 100%;
}

.thumbnail {
	border-radius: 10%;
}

.content-layout {
	margin-top: 8px;
}

.track-author {
	padding-bottom: 16px;
}

.track-author a {
	color: rgba(var(--content-shade-fg), 0.8);
	font-size: 110%;
}

.track-suggestion + .track-suggestion {
	margin-top: 16px;
}

.track-suggestion a {
	color: rgba(var(--content-shade-fg), 0.8);
}

.separator {
	min-width: 1px;
	min-height: 1px;
	background: rgba(var(--content-shade-fg), 0.1);
}

.shaded {
	color: rgba(var(--content-shade-fg), 0.5);
	font-size: 90%;
}

.track-publish-date {
	margin-top: 8px;
}

.comment + .comment {
	margin-top: 24px;
}

.comment-header a {
	color: rgba(var(--content-shade-fg), 0.8);
}

.comment-composer {
	margin-bottom: 24px;
}

nav .separator {
	background: rgba(var(--nav-shade-fg), 0.1);
}

h1 {
	font-size: 120%;
	padding-bottom: 16px;
}

h2 {
	font-size: 110%;
	padding-bottom: 16px;
}

input[type="text"], textarea {
	background: rgba(var(--content-shade-fg), 0.05);
	padding: 0 16px;
	border-radius: 6px;
}

input[type="text"].search {
	border-radius: 8px;
}

textarea {
	padding: 8px 16px;
}

input[type="submit"] {
	background: var(--accent-bg);
	color: rgb(var(--accent-shade-fg));
	padding: 6px 20px;
	border-radius: 6px;
	cursor: pointer;
}

.comment-composer textarea ~ input[type="submit"] {
	margin-top: 16px;
	opacity: 0.5;
	filter: saturate(25%);
}

.comment-composer textarea:not(:placeholder-shown) ~ input[type="submit"] {
	opacity: 1;
	filter: saturate(100%);
}
